body {
	/*background-image: url("https://hd.unsplash.com/photo-1461749280684-dccba630e2f6");*/
	background-image: url("https://hd.unsplash.com/photo-1470790376778-a9fbc86d70e2");
	color: #454552;
	
	font-weight: bold;
	font-size: 30px;
}

h1 {
	color: #f9320c;
	font-size: 150px;
	font-family: 'Heebo', sans-serif;
}

li {
	color: #fffcf0;
}

.center_content {
	text-align: center;
}

p {
	font-family: 'Roboto Slab', serif;
	/*font-family: 'Bree Serif', serif;*/
}